<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css">
        <title>scoreboard</title>
    </head>
    <body>
        <header>
            <h1>scoreboard</h1>
            <nav>
                <ul>
                    <li><a href="/" class="current">submit flag</a></li>
                    <li><a href="/scoreboard">scoreboard</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h2>submit flag</h2>
            <article style="width: 310px; margin-left: auto; margin-right: auto;">
                <form method="post" action="/submit-flag">
                    <label>username</label>
                    <input type="text" name="username">
                    <label>flag</label>
                    <input type="text" name="flag">
                    <button style="width: 100%;">submit</button>
                </form>
            </article>
        </main>
        <footer>
            <small><a href="https://github.com/zuyoutoki/simple-scoreboard">simple-scoreboard</a></small> - <small><a href="https://github.com/zuyoutoki/simple-scoreboard/raw/main/LICENSE">license</a></small>
        </footer>
    </body>
</html>