<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css">
        <title>scoreboard</title>
    </head>
    <body>
        <header>
            <h1>scoreboard</h1>
            <nav>
                <ul>
                    <li><a href="/">submit flag</a></li>
                    <li><a href="/scoreboard" class="current">scoreboard</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h2>scoreboard</h2>
            <table style="margin-left: auto; margin-right: auto;">
                <thead>
                    <tr>
                        <th>rank</th>
                        <th>username</th>
                        <th>flags</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each scores as |score|}}
                    <tr>
                        <td>{{#plus-one @index}}{{/plus-one}}</td>
                        <td>{{score.user}}</td>
                        <td>
                            {{#each ../chals as |chal|}}
                            <span style="visibility: {{#if (contains chal.id score.flags)}}visible{{else}}hidden{{/if}};">{{chal.id}}</span>
                            {{/each}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </main>
        <footer>
            <small><a href="https://github.com/zuyoutoki/simple-scoreboard">simple-scoreboard</a></small> - <small><a href="https://github.com/zuyoutoki/simple-scoreboard/raw/main/LICENSE">license</a></small>
        </footer>
    </body>
</html>